.password-bg {
  padding: 40px 20px;
  width: 100%;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  background-color: #ffff;
}

.password-bg form {
  width: 100%;
  max-width: 450px;
  background: #ffffff;
  border: 1px solid #e2e8f0;
  border-radius: 16px;
  padding: 30px 25px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

/* عنوان */
.password-bg .title-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row-reverse;
  gap: 5px;
  padding-bottom: 10px;
  border-bottom: 2px solid #3d81ce;
}
.password-bg .title {
  font-size: 24px;
  color: #1e293b;
  font-weight: bold;
}
.password-bg .title-container span {
  color: #1e293b;
  font-size: 28px;
}

/* لیبل و ورودی‌ها */
.password-bg .input-container {
  display: flex;
  flex-direction: column;
  gap: 12px;
  width: 100%;
}

.password-bg .input-container label {
  font-size: 15px;
  font-weight: bold;
  color: #334155;
  text-align: right;
}

.password-bg .input-container input {
  width: 100%;
  height: 40px;
  padding: 0 10px;
  text-align: right;
  font-size: 15px;
  font-family: Yekan, Poppins;
  font-weight: 500;
  border: 2px solid #3d81ce;
  border-radius: 8px;
  outline: none;
  transition: all 0.25s ease;
  box-sizing: border-box;
}

.password-bg .input-container input:focus {
  border-color: #1c5dbf;
  box-shadow: 0 0 6px rgba(61, 129, 206, 0.3);
}

/* دکمه ذخیره */
.password-bg form button {
  width: 180px;
  height: 42px;
  font-size: 17px;
  font-weight: bold;
  font-family: Yekan;
  color: #fff;
  background-color: #3d81ce;
  border: 2px solid #3d81ce;
  border-radius: 10px;
  cursor: pointer;
  transition: all 0.25s ease;
}

.password-bg form button:hover {
  background-color: transparent;
  color: #3d81ce;
  transform: translateY(-1px);
}

.password-bg form button:disabled {
  opacity: 0.6;
  cursor: not-allowed;
}

/* پیام‌ها */
.password-bg .loading,
.password-bg .login-msg {
  text-align: center;
  font-size: 18px;
  color: #475569;
  font-weight: 600;
  margin-top: 40px;
}

/* 📱 ریسپانسیو */
@media (max-width: 768px) {
  .password-bg {
    padding: 30px 10px;
  }

  .password-bg form {
    width: 95%;
    padding: 20px;
  }

  .title {
    font-size: 20px;
  }

  form button {
    width: 100%;
    font-size: 16px;
  }
}
@media (max-width: 480px) {
  .password-bg .title {
    font-size: 22px;
  }
  .password-bg .title-container span {
    font-size: 28px;
  }
}
