@import url("https://fonts.googleapis.com/css2?family=Yekan&display=swap");

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  background-color: #201f1f;
  border-top: 1px solid #ffffff30;
  box-sizing: border-box;
  font-family: "Yekan", sans-serif;
}

footer > .footer-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 40px 180px;
  box-sizing: border-box;
  width: 100%;
  gap: 20px;
  border-bottom: 1px solid #aaaaaa48;
  flex-wrap: wrap;
}

/* بخش چپ */
footer > .footer-container > .left {
  width: 45%;
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: end;
}

footer > .footer-container > .left > .title {
  display: flex;
  flex-direction: column;
  align-items: end;
  color: #fff;
  gap: 5px;
  text-align: right;
}

footer > .footer-container > .left > .title > h2 {
  font-size: 26px;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
}

footer > .footer-container > .left > .title > p {
  font-size: 18px;
  font-weight: bold;
  color: #dcdcdc;
}

/* iframe */
footer .map-wrapper {
  width: 100%;
  height: 250px !important;
  box-shadow: 0 0 8px #00000055;
  border-radius: 12px;
  overflow: hidden;
  border: none;
}
iframe {
  z-index: 0;
}

/* بخش راست */
footer > .footer-container > .right {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: end;
  gap: 25px;
  text-align: right;
}

footer > .footer-container > .right > h2 {
  font-size: 26px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  font-weight: bold;
  color: #fff;
}

footer > .footer-container > .right > ul {
  display: flex;
  flex-direction: column;
  align-items: end;
  gap: 10px;
}

footer > .footer-container > .right > ul > li {
  list-style: none;
}

footer > .footer-container > .right > ul > li > a {
  font-size: 18px;
  font-weight: bold;
  color: #fff;
  text-decoration: none;
  position: relative;
  transition: all 0.3s ease;
}

footer > .footer-container > .right > ul > li > a::after {
  content: "";
  position: absolute;
  bottom: -3px;
  right: 0;
  width: 0%;
  height: 2px;
  background-color: #3d81ce;
  transition: width 0.3s ease;
}

footer > .footer-container > .right > ul > li > a:hover::after {
  width: 100%;
}

/* بخش تماس و شبکه‌های اجتماعی */
footer > .footer-container > .right > .contact {
  display: flex;
  flex-direction: column;
  align-items: end;
  gap: 15px;
}

footer > .footer-container > .right > .contact > h2 {
  text-align: right;
  color: #fff;
  display: flex;
  gap: 5px;
  justify-content: center;
  align-items: center;
  font-size: 24px;
}

footer > .footer-container > .right > .contact > .social {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  gap: 10px;
}

footer > .footer-container > .right > .contact > .social > button {
  background-color: #fff;
  color: #000;
  font-size: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  border: none;
  border-radius: 10px;
  height: 45px;
  width: 140px;
  padding: 0 12px;
  cursor: pointer;
  transition: all 0.25s ease;
  box-shadow: 0 0 5px #00000030;
}

footer > .footer-container > .right > .contact > .social > button:hover {
  transform: translateY(-3px);
  filter: brightness(0.9);
}

footer > .footer-container > .right > .contact > .social > button > img {
  display: block;
}

/* بخش پایینی کپی‌رایت */
footer > .bottom {
  width: 100%;
  padding: 12px 180px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  font-weight: bold;
  font-size: 16px;
  color: #f5f5f5;
  box-sizing: border-box;
}

/* 📱 واکنش‌گرایی */
@media (max-width: 992px) {
  footer > .footer-container {
    padding: 30px 60px;
    flex-direction: column-reverse;
    align-items: center;
    text-align: center;
    gap: 40px;
  }
  footer > .footer-container > .left,
  footer > .footer-container > .right {
    width: 100%;
    align-items: center;
  }
  footer > .footer-container > .right > ul {
    align-items: center;
  }
  footer > .footer-container > .right > .contact {
    align-items: center;
  }
  footer > .footer-container > .right > .contact > .social {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
  }
  footer > .bottom {
    justify-content: center;
    padding: 10px 20px;
  }
}

@media (max-width: 492px) {
  footer > .footer-container {
    padding: 30px;
  }
}
